@charset "UTF-8";

.edit {
    padding: 15px;
}

.edit-title__text {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 3px;
}

.edit-form__input {
    display: block;
}

.edit-btn {
    margin-top: 15px;
}